// https://stackoverflow.com/questions/10592411/disable-scrolling-in-all-mobile-devices
html {
    overflow: hidden;
}

body {
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
}