@media only screen and (max-width: 750px) {
    #menubar {
        flex-flow: column wrap;
        text-align: center;
        header h1 {
            margin: 0.2em;
        }
        nav {

            font-size: 1.5em;
            align-self: center;
        }
    }

    #information {
        line-height: 1.3;
        padding: 0;
    }
}

@media only screen and (max-width: 450px) {
    #menubar nav {
        font-size: 1.2em;
    }
}